body {
	background: teal;
}

.block {
	background: #c0c0c0;
	border: 1px solid #fff;
	border-bottom-color: #808080;
	border-right-color: #808080;
	box-shadow:
		-1px -1px 0 #dfdfdf,
		1px 1px 0 #000;
}

#ie6-window {
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 128px;
	width: 800px;
	/*height: 600px;*/
}

#ie6-titlebar {
	background-color: #000080;
	font-family: "Arial", sans-serif;
	font-smooth: never;
	-webkit-font-smoothing : none;
	font-weight: bold;
	height: 20px;
	overflow: hidden;
	font-size: 12px;
	color: #fff;
	cursor: default;
}

#ie6-titlebar span {
	-webkit-user-select: none;
	user-select: none;
	display: inline-block;
	padding: 2px;
}

#ie6-titlebar-buttons {
	float: right;
	font-size: 12px;
}

#ie6-titlebar-buttons button {
	display: inline-block;
	width: 15px;
	height: 13px;
	padding: 0;
	margin: 2px 0;
	font-size: 10px;
	outline: none;
}
#ie6-titlebar-buttons button:last-of-type {
	margin: 2px;
}

menu {
	position: relative;
	overflow: hidden;
	list-style-type: none;
}

menu li.separator {
	height: 100%;
	border-right: 1px solid #808080;
}
menu li.separator + li {
	border-left: 1px solid #fff;
}

.toolbar {
	margin: 0;
	padding: 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #808080;
}

#ie6-toolbar-menu {
	margin-top: 2px;
	font-size: 13px;
	height: 20px;
	overflow: hidden;
	font-family: "Arial", sans-serif;
	font-smooth: never;
	-webkit-font-smoothing : none;
}
#ie6-toolbar-menu li {
	float: left;
	padding: 0;
	height: 100%;
}
#ie6-toolbar-menu li label {
	display: inline-block;
	padding: 2px 8px;
}
#ie6-toolbar-menu li label:active {
	background: #000080;
	color: #fff;
}

#ie6-action-menu {
	box-sizing: border-box;
	height: 48px;
	overflow: hidden;
}
#ie6-action-menu li {
	height: 100%;
	float: left;
	margin: 2px 0;
}
#ie6-action-menu li button {
	display: inline-block;
	background: transparent;
	border: none;
	box-sizing: border-box;
	overflow: hidden;
	line-height: 56px;
	width: 50px;
	height: 36px;
	font-size: 9px;
	outline: none;
}

#ie6-addressbar {
	height: 26px;
	overflow: hidden;
}
#ie6-addressbar label {
	margin-left: 8px;
	font-size: 10px;
	font-family: "Arial", sans-serif;
}
#ie6-addressbar input {
	width: 600px;
	outline: none;
}
#ie6-addressbar button {
	background: transparent;
	border: none;
	outline: none;
	font-size: 10px;
	font-family: "Arial", sans-serif;
}

iframe {
	visibility: hidden;

	border: none;
	width: 100%;
	height: 480px;
	margin: 0;
	padding: 0;
}